.dataCard {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        height: 250px;
        
      }
      
.PositionCard {
        display: flex;
        justify-content: center;
        align-items: center;
      }